@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");

body {
  font-family: "Domine", serif;
}

.Container h1 {
  font-size: 60px;
}

.Container h2 {
  font-size: 40px;
  margin-bottom: 40px;
}
.Container ul {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.Container li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Container img {
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  font-size: small;
  padding-bottom: 25px;
  margin-top: 0;
}

.Container .weather-app {
  display: block;
  color: black;
  max-width: 700px;
  position: relative;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  border-style: solid;
  border-width: thick;
  border-color: black;
  background-image: url("/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.Container .location {
  margin-top: 20px;
  margin-bottom: 25px;
}

.Container .weather-forecast {
  padding: 20px 20px 20px 20px;
}

.Container .weather-forecast .col {
  border-color: #e0e0f7;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px black;
  text-align: center;
}
.Container .align-self-center {
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
}

.Container .todayicon {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}

.Container .todayicon .current-time {
  font-size: 18px;
  font-weight: bolder;
  line-height: 30px;
}
.Container canvas {
  font-size: 50px;
  text-align: center;
}

.Container .forecast-banner {
  font-size: 20px;
  text-decoration-line: underline;
}
.Container .temp {
  font-size: 15px;
}

.weather-forecast span {
  font-size: 18px;
  font-weight: bolder;
}

.weather-forecast canvas {
  height: 75px;
}

li::first-letter {
  text-transform: capitalize;
}

.current-description {
  text-shadow: 2px 2px 25px black;
}

.weather-app .active {
  color: black;
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}

.weather-forecast .col:hover {
  transform: scale(1.05);
}
